.container {
    width: 100%; 
}

.ImageContainer {
    display: flex; 
    padding: 1.25rem; 
    background-color: #000000; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
}
.imageHeader {
    height: 10rem; 
    width: 600px;
}

.h1Text {
    margin-top: 2.5rem; 
    text-align: center; 
    text-transform: uppercase; 
    font-size: 30px;
}

.ImageGridContainer {
    display: grid; 
    padding: 1rem; 
    width: 100%; 
    grid-template-columns: repeat(1, minmax(0, 1fr));
}


@media (min-width: 768px) {
    .ImageGridContainer {

        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    } 
}

@media (min-width: 1280px) { 
    .ImageGridContainer {

        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
}

.GridImageParent {
    display: grid; 
    overflow: hidden; 
    padding: 2rem; 
    width: 100%; 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 1.25rem; 
}

.emptyNftContainer {
    display: flex; 
    margin-top: 5rem; 
    text-align: center; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100vw; 
    height: 100%; 
    gap: 5rem; 
}

.emptyNftText {
    font-weight: 700; 
    text-transform: uppercase; 
    color: 20px;
    width: 550px;
}